= render 'form'

- if @articles.size > 0
  %section.article-list-container
    %header
      %h4 Showing #{@articles.size} of #{Article.all.size} articles
    %ul.article-list
      = render @articles
    %footer
      = will_paginate @articles

%section.modal.animated.bounceInDown
  %section.modal-container
    %header.modal-header
      %h4 Delete article
      %div.window-editable
        = link_to content_tag( :i, '', class: 'icon-remove' ), 
          nil, 
          class: 'close-window'
    %div.modal-content
      %p Are you sure you want to delete the article?
    %section.modal-editable
      = link_to 'Cancel', '', class: 'button cancel'
      = link_to 'Delete article','', 
        :method => :delete, 
        class: 'negative button delete-article'
