= render 'form'

%ul
  - @articles.each do |article|
    %li
      = article.url
      = link_to 'Show', article
      -# = link_to 'Edit', edit_article_path(article)
      = link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'New Article', new_article_path
