= render 'form'

%ul.article-list
  - @articles.each do |article|
    %li
      = link_to article.url.truncate(70, separator: ' '), article
      = "Last updated #{l( article.updated_at, :format => :date )}"
      = link_to content_tag(:i, '', class: 'icon-remove'), article, :method => :delete, :data => { :confirm => 'Are you sure?' }
