= render 'form'

%section.article-list-container
  %header
    %h4 Showing #{@articles.size} articles
  %ul.article-list
    - @articles.each do |article|
      %li{:id => "#{article.id}"}
        %div.description
          = link_to article.title, article, class: 'article-title'
          %small Last updated #{time_ago_in_words(article.created_at)} ago
        %aside.editable
          = link_to content_tag(:i, '', class: 'icon-remove'), nil, class: 'open-modal'

%section.modal.animated.bounceInDown
  %section.modal-container
    %header.modal-header
      %h4 Delete article
      %div.window-editable
        = link_to content_tag( :i, '', class: 'icon-remove' ), nil, class: 'close-window'
    %div.modal-content
      %p Are you sure you want to delete the article?
    %section.modal-editable
      = submit_tag 'Cancel', class: 'cancel'
      = link_to 'Delete article','', :method => :delete, class: 'negative button'
