= render 'form'

%header
  %h4 Showing #{@articles.size} articles
%ul.article-list
  - @articles.each do |article|
    %li
      = link_to article.url.truncate(70, separator: ' '), article, class: 'article-title'
      %small Last updated #{time_ago_in_words(article.created_at)} ago
      %aside.editable
        = link_to content_tag(:i, '', class: 'icon-remove'), article,
          :method => :delete,
          :data => { :confirm => 'Are you$base-font-color: $dark-gray; sure?' }
