:plain
  <body onmousedown="highlightSelection();">
  <a href="javascript:void(0);" onclick="highlightSelection();">Highlight</a> 

%section.article

  %p#notice= notice

  %aside
    %div.action
      #{ link_to 'Back', articles_path }
      #{ link_to "Read article on original website", @article.url, target: "_blank" }

  %article.article
    %header
      %h1 #{ @article.title }
      %h5 #{ Date.parse(@article.date).strftime('%B %-d, %Y') }
      - if @article.author
        %h5 By #{ @article.author }
    %section.article-content
      #{ @article.body.html_safe }

