:plain
  <body onmousedown="highlightSelection();">
  <a href="javascript:void(0);" onclick="highlightSelection();">Highlight</a> 

%section.article

  %p#notice= notice

  %aside
    %div.action
      #{ link_to 'Back', articles_path }
      #{ link_to "Read article on original website", @article.url, target: "_blank" }

  %article.article
    %header
      - if @article.title
        %h1 #{ @article.title }
      %ul.meta-data
        %li
          - if @article.author
            %h6 By #{ @article.author }
        %li
          - if @article.date
            %h6 #{ Date.parse(@article.date).strftime('%B %-d, %Y') }
    %section.article-content
      - if @article.body
        #{ @article.body.html_safe }
