%header.header
  %section.header-container
    %div.header-content
      %h1 
        = link_to "ReadMe.md", "/"
      %nav
        %ul
          %li
            = link_to "Sign up"
          %li
            - if signed_in?
              = current_user.email
              = link_to 'Sign out', sign_out_path, method: :delete
            - else
              = link_to "Log in", sign_in_path
