%header.header
  %section.header-container
    %div.header-content
      %h1 
        = link_to "ReadMe.md", "/"
        %span.dropdown-drawer
          = link_to content_tag(:i, '', class: "icon-reorder"), ''
      %nav
        %ul
          %li
            - if signed_in?
              = link_to current_user.email, root_path
            - else
              = link_to "Sign up", sign_up_path
          %li
            - if signed_in?
              = link_to 'Sign out', sign_out_path, method: :delete
            - else
              = link_to "Log in", sign_in_path
