%h1 Listing highlights

%table
  %tr
    %th Content
    %th
    %th
    %th

  - @highlights.each do |highlight|
    %tr
      %td= highlight.content
      %td= link_to 'Show', highlight
      %td= link_to 'Edit', edit_highlight_path(highlight)
      %td= link_to 'Destroy', highlight, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Highlight', new_highlight_path
